body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #FEF9F9;
  color: #ff9494;
  display: flex;
  flex-direction: column;
}
.background-2 {
  min-height: 30em;
  background-image: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0.6) 60%, rgba(255,255,255,1) 100%),
                    linear-gradient(157deg, #FFD17C 20%, #E77FE9 96%);
  background-size: 100% 100%;
}
h1 {
  font-size: 40px;
}

form .header {
  width: 100%;
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  color: #ff9494;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
}

.button {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 10px;
  background-color: #ffe3e1;
  color: #e67373;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  transition: 0.3s;
}

.button:hover {
  background-color: #ff9494;
  color: #ffe3e1;
  border: 2px solid #ff9494;
}

input[type="date"] {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 10px;
  background-color: #ffe3e1;
  color: #e67373;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
}

audio {
  max-width: 250px; /* Set a maximum width */
  margin-top: 10px; /* Add some space at the top */
}

audio::-webkit-media-controls-panel {
  background-color: #ffe3e1;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-fullscreen-button {
  color: #000000; /* Change the control icons color */
}


.small {
  transform: scale(0.35, 0.35); /* Adjusted scale value */
  -ms-transform: scale(0.35, 0.35); /* IE 9 */
  -webkit-transform: scale(0.35, 0.35); /* Safari and Chrome */
  -o-transform: scale(0.35, 0.35); /* Opera */
  -moz-transform: scale(0.35, 0.35); /* Firefox */
}

.kiss {
  height: 20%;
  width: 25%;
  border-radius: 10%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

@media (max-width: 600px) {
  body {
    margin-top: 10px;
    font-size: 14px;
  }

  h1 {
    font-size: 30px;
  }

  .form-group {
    font-size: 20px;
  }

  .button, input[type="date"] {
    font-size: 12px;
    padding: 4px 8px;
  }

  .kiss {
    height: 80%;
    width: 95%;
  }
}